@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body.about #intro {
  width: 80vw;
  margin: 10vw auto 0; }
  @media (max-width: 767px) {
    body.about #intro .head-wrap {
      display: block !important; }
      body.about #intro .head-wrap svg {
        display: block;
        margin: auto; } }
  body.about #intro .textWrap {
    background-color: #171d22;
    width: 39vw;
    margin-left: 2vw; }
    @media (max-width: 767px) {
      body.about #intro .textWrap {
        width: 9.7em;
        margin: 20px auto; } }
    body.about #intro .textWrap h1 {
      color: #F5F5F5;
      padding-top: 1vw;
      text-align: center; }
      @media (max-width: 767px) {
        body.about #intro .textWrap h1 {
          font-size: 3.6em; } }

body.about .resume {
  margin: 2vw; }
  body.about .resume a {
    padding: 0 !important; }
  body.about .resume .triangle {
    margin: 1vw 2vw; }

body.about .links a, body.about .resume a {
  padding: 2vw; }
  body.about .links a svg, body.about .resume a svg {
    width: 4vw;
    fill: #171d22; }
    @media (max-width: 767px) {
      body.about .links a svg, body.about .resume a svg {
        width: 35px; } }
  body.about .links a:hover svg, body.about .resume a:hover svg {
    fill: #EF4E31; }

body.about .images-grid {
  margin-top: 5vw; }
  body.about .images-grid div,
  body.about .images-grid div > figure {
    width: calc(100vw - 1.5em);
    height: calc(100vw - 1.5em); }
    @media (min-width: 768px) {
      body.about .images-grid div,
      body.about .images-grid div > figure {
        width: calc(50vw - 1.5em);
        height: calc(50vw - 1.5em); } }
  body.about .images-grid .ali-vr {
    background: url("../../images/about/ali-vr.jpg") center center no-repeat;
    background-size: cover; }
  body.about .images-grid .ali-minka {
    background: url("../../images/about/ali-minka.jpg") center center no-repeat;
    background-size: cover; }
  body.about .images-grid div {
    background: #171d22 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42053/noise.gif) center center no-repeat;
    background-size: cover; }
    body.about .images-grid div figure h2 {
      color: rgba(255, 255, 255, 0.8); }
      @media (max-width: 767px) {
        body.about .images-grid div figure h2 {
          font-size: 11vw;
          text-align: center; } }
    body.about .images-grid div figure h2 {
      padding: 10px 0 0 0; }
      @media (min-width: 768px) {
        body.about .images-grid div figure h2 {
          padding: 2vw 0 0 1vw; } }
    body.about .images-grid div figure p {
      color: rgba(255, 255, 255, 0.8);
      position: relative;
      font-size: 3.5vw;
      padding: 0 10vw 0 20vw;
      margin: 3vw 1vw 1vw; }
      @media (min-width: 768px) {
        body.about .images-grid div figure p {
          font-size: 1.5vw;
          padding: 0 1vw 0 8vw;
          margin: 3vw 1vw 1vw; } }
      body.about .images-grid div figure p span {
        position: absolute;
        left: 0;
        top: 0; }
        @media (max-width: 767px) {
          body.about .images-grid div figure p span {
            left: 5px; } }
