@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
.flex-both-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

body.about #logoAnchor svg {
  width: 20vw; }
  body.about #logoAnchor svg .logo {
    fill: #EF4E31;
    -webkit-animation-name: fillUp;
            animation-name: fillUp;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes fillUp {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

@-webkit-keyframes fill {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

@keyframes fill {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }
