@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
.flex-both-align, body.projects #intro .head-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.projects .projects-wrap, body.projects .client-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

body.projects {
  min-height: 100vh; }
  body.projects #intro {
    width: 80vw;
    margin: 10vw auto 0; }
    body.projects #intro .textWrap {
      background-color: #171d22;
      width: 57vw;
      margin-left: 2vw; }
      @media (max-width: 767px) {
        body.projects #intro .textWrap {
          width: 12.7em; } }
      body.projects #intro .textWrap h1 {
        color: #F5F5F5;
        padding-top: 1vw; }
        @media (max-width: 767px) {
          body.projects #intro .textWrap h1 {
            font-size: 2em; } }
  body.projects .projects-wrap {
    margin: 10vw auto 0;
    width: 100vw; }
    body.projects .projects-wrap a {
      width: calc(100vw - 1.5rem);
      height: calc(100vw - 1.5rem);
      display: block;
      position: relative; }
      @media (min-width: 768px) {
        body.projects .projects-wrap a {
          width: calc(50vw - 1.5rem);
          height: calc(50vw - 1.5rem); } }
      body.projects .projects-wrap a .project {
        background-size: cover !important;
        width: 100%;
        height: 100%; }
        body.projects .projects-wrap a .project.web-deutsch {
          background: url("../../images/projects/web-deutsch.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw {
          background: url("../../images/projects/web-vw.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw-carnet {
          background: url("../../images/projects/web-vw-carnet.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-cmab {
          background: url("../../images/projects/web-cmab.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-target-btc {
          background: url("../../images/projects/web-target-btc.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-target-btc-awards {
          background: url("../../images/projects/web-target-btc-awards.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-fosterfarms {
          background: url("../../images/projects/web-fosterfarms.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw-sharks-awards {
          background: url("../../images/projects/web-vw-sharks-awards.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vf-tbtt {
          background: url("../../images/projects/web-vf-tbtt.jpg") center center no-repeat; }
      body.projects .projects-wrap a .logo {
        width: 50vw;
        height: 50vw;
        transition: all .75s;
        pointer-events: none; }
        body.projects .projects-wrap a .logo.cmab-logo {
          background: url("../../images/logos/cmab-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.vw-logo {
          background: url("../../images/logos/vw-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.fosterfarms-logo {
          background: url("../../images/logos/fosterfarms-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.sevenup-logo {
          background: url("../../images/logos/sevenup-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.tacobell-logo {
          background: url("../../images/logos/tacobell-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.target-logo {
          background: url("../../images/logos/target-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.deutsch-logo {
          background: url("../../images/logos/deutsch-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.vanityfair-logo {
          background: url("../../images/logos/vanityfair-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.zillow-logo {
          background: url("../../images/logos/zillow-logo.svg") center center no-repeat; }
        @media (min-width: 768px) {
          body.projects .projects-wrap a .logo {
            width: 40vw;
            height: 40vw;
            opacity: 0.75; } }
      body.projects .projects-wrap a:hover .logo {
        opacity: 0; }
      body.projects .projects-wrap a .hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all .25s; }
        body.projects .projects-wrap a .hover:hover {
          background-color: transparent; }
    body.projects .projects-wrap .project-overlay {
      height: 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 999999;
      display: none; }
      body.projects .projects-wrap .project-overlay.open {
        height: 100%;
        display: block; }
        body.projects .projects-wrap .project-overlay.open .close {
          cursor: pointer;
          position: absolute;
          top: 1.5em;
          right: 1em;
          height: 50px;
          width: 50px; }
          body.projects .projects-wrap .project-overlay.open .close span {
            background-color: #515052;
            display: block;
            position: absolute;
            height: 2px;
            width: 100%; }
            body.projects .projects-wrap .project-overlay.open .close span:first-child {
              -webkit-transform: rotate(135deg);
                      transform: rotate(135deg);
              top: 12px; }
            body.projects .projects-wrap .project-overlay.open .close span:nth-child(2) {
              opacity: 0;
              background-color: #515052; }
            body.projects .projects-wrap .project-overlay.open .close span:nth-child(3) {
              -webkit-transform: rotate(-310deg);
                      transform: rotate(-310deg);
              top: 12px; }
  body.projects .textWrap {
    background-color: #171d22;
    width: 86vw; }
    body.projects .textWrap.clients {
      margin: 10vw auto 5vw; }
      @media (max-width: 767px) {
        body.projects .textWrap.clients {
          width: 18.5em; } }
    @media (max-width: 767px) {
      body.projects .textWrap {
        width: 12.7em; } }
    body.projects .textWrap h1 {
      color: #F5F5F5;
      padding-top: 1vw;
      text-align: center; }
      @media (max-width: 767px) {
        body.projects .textWrap h1 {
          font-size: 2em; } }
  body.projects .client-wrap {
    margin: auto;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body.projects .client-wrap .client {
      background-size: cover !important;
      width: calc(75vw - 3em);
      height: 50vw; }
      @media (min-width: 768px) {
        body.projects .client-wrap .client {
          width: calc(30vw - 3em);
          height: calc(30vw - 3em); } }
      body.projects .client-wrap .client.zillow-logo {
        background: url("../../images/logos/zillow-logo.svg") center center no-repeat; }
      body.projects .client-wrap .client.sevenup-logo {
        background: url("../../images/logos/sevenup-logo.svg") center center no-repeat; }
      body.projects .client-wrap .client.tacobell-logo {
        background: url("../../images/logos/tacobell-logo.svg") center center no-repeat; }
