@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
@import url(https://fonts.googleapis.com/css?family=Khand:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body {
  background: #F5F5F5;
  border: 1.5rem solid #fff;
  overflow-x: hidden; }

h1,
h2 {
  color: #171d22;
  font-family: "Khand", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

h3,
h4 {
  font-family: "Pacifico", cursive; }

h1 {
  font-size: 2.625rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 15vw; } }

h2 {
  font-size: 1.875rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 7.4vw; } }

h3 {
  font-size: 2.125rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 6vw; } }

h4 {
  font-size: 1.75rem; }
  @media (min-width: 768px) {
    h4 {
      font-size: 4vw; } }

p,
li {
  color: #515052;
  font-family: "Open Sans", sans-serif;
  margin: 30px 30px 10px;
  font-size: 1.125rem; }
  @media (min-width: 768px) {
    p,
    li {
      font-size: 1.25rem; } }

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #EF4E31; }
  a:hover {
    color: #515052; }

input:focus,
a:focus,
button:focus {
  outline: none;
  border: none; }

.textWrap {
  background-color: rgba(255, 255, 255, 0.8); }

body:not(.home) #logoAnchor svg {
  width: 25vw; }
  body:not(.home) #logoAnchor svg .logo {
    fill: #EF4E31;
    -webkit-animation-name: fillUp;
            animation-name: fillUp;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }

@-webkit-keyframes fillUp {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

@-webkit-keyframes fill {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

@keyframes fill {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

.divider.map {
  border-bottom-width: 0; }

div#map_canvas {
  width: auto;
  height: 250px; }
  @media (min-width: 768px) {
    div#map_canvas {
      height: 20vw; } }
  div#map_canvas .gm-style div:nth-child(2),
  div#map_canvas .gm-style div:nth-child(6) {
    z-index: -1 !important; }
  div#map_canvas .gm-style .gmnoprint {
    z-index: -1 !important; }

@media (max-width: 767px) {
  .desktop-only {
    display: none; } }

@media (min-width: 768px) {
  .mobile-only {
    display: none; } }

body {
  position: static;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll; }
  body.open {
    position: fixed; }
  body .menu {
    background-color: #EF4E31;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: height 300ms ease-in-out;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 19999;
    height: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body .menu.open {
      height: 100%;
      max-height: 100vh;
      overflow: hidden; }
    body .menu nav {
      margin-top: 128px;
      margin-bottom: 65px;
      color: #fff;
      text-align: center;
      z-index: 9999; }
      body .menu nav a {
        text-decoration: none;
        display: block;
        color: #fff;
        margin: 45px 0;
        font-size: 8vmin;
        font-family: "Khand", sans-serif;
        text-transform: uppercase; }
        body .menu nav a:hover {
          color: #515052; }
  body .main {
    position: relative;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.15s ease-out;
    width: 100%; }
    body .main .main-header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 100000;
      transition: all 0.15s ease-out; }
      body .main .main-header .header-bar {
        position: relative;
        width: 100%;
        z-index: 20000; }
        body .main .main-header .header-bar a.open-menu {
          text-align: center;
          position: absolute;
          top: 44px;
          right: 28px;
          height: 100%;
          width: 58px;
          z-index: 1; }
          body .main .main-header .header-bar a.open-menu .hamburger {
            cursor: pointer;
            display: block;
            position: relative;
            top: 50%;
            height: 50px;
            width: 50px; }
            body .main .main-header .header-bar a.open-menu .hamburger span {
              transition-duration: 0.4s;
              transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
              display: block;
              position: absolute;
              height: 2px;
              width: 100%;
              background-color: #515052;
              opacity: 1;
              left: 0; }
              body .main .main-header .header-bar a.open-menu .hamburger span:first-child {
                top: 0; }
              body .main .main-header .header-bar a.open-menu .hamburger span:nth-child(2) {
                top: 12px;
                opacity: 1;
                transition: opacity 0.15s ease-in; }
              body .main .main-header .header-bar a.open-menu .hamburger span:nth-child(3) {
                top: 24px; }
            body .main .main-header .header-bar a.open-menu .hamburger.open span {
              background-color: #fff; }
              body .main .main-header .header-bar a.open-menu .hamburger.open span:first-child {
                -webkit-transform: rotate(135deg);
                        transform: rotate(135deg);
                top: 12px; }
              body .main .main-header .header-bar a.open-menu .hamburger.open span:nth-child(2) {
                opacity: 0;
                background-color: #515052; }
              body .main .main-header .header-bar a.open-menu .hamburger.open span:nth-child(3) {
                -webkit-transform: rotate(-310deg);
                        transform: rotate(-310deg);
                top: 12px; }
    body .main p {
      font-size: 22px;
      padding: 0 20px; }

.cbp-so-scroller {
  margin-top: 3em; }

.cbp-so-section {
  margin-bottom: 4em; }
  @media (min-width: 768px) {
    .cbp-so-section {
      margin-bottom: 10em; } }

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table; }

.cbp-so-section:after {
  clear: both; }

/* Text styling */
.cbp-so-section h3 {
  color: #171d22;
  font-size: 5vw;
  margin: 0 30px; }
  @media (max-width: 767px) {
    .cbp-so-section h3 {
      font-size: 28px; } }

.cbp-so-section p {
  font-size: 2vw; }
  @media (max-width: 767px) {
    .cbp-so-section p {
      font-size: 1.125rem; } }

/* Sides */
.cbp-so-side {
  width: 50%;
  float: left;
  margin: 0;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table; }

.cbp-so-side:after {
  clear: both; }

@media (min-width: 768px) {
  .cbp-so-side-right {
    text-align: left; }
  .cbp-so-side-left {
    text-align: right; } }

.cbp-so-side-right img {
  float: left; }

.cbp-so-side-left img {
  float: right; }

@media (min-width: 768px) {
  .cbp-so-side img {
    width: 30vw; } }

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0; }

.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px); }

.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  transform: translateX(80px); }

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/
/* Example media queries */
@media screen and (max-width: 73.5em) {
  .cbp-so-scroller {
    font-size: 65%; }
  .cbp-so-section h2 {
    margin: 0; }
  .cbp-so-side img {
    max-width: 120%; } }

@media screen and (max-width: 41.125em) {
  .cbp-so-side {
    float: none;
    width: 100%; }
  .cbp-so-side img {
    max-width: 100%; } }

@media (min-width: 768px) {
  .cbp-so-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body.home .main {
  text-align: center;
  border-bottom: 1.5rem solid #fff; }
  @media (max-width: 767px) {
    body.home .main {
      padding: 2em 0; } }
  @media (min-width: 768px) {
    body.home .main {
      height: calc(100vh - 3rem);
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  body.home .main .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: -1; }
  body.home .main #logoAnchor {
    width: 40vw;
    display: block;
    margin: auto; }
    body.home .main #logoAnchor .logo {
      fill: #EF4E31;
      -webkit-animation-name: fillUp;
              animation-name: fillUp;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }

@-webkit-keyframes fillUp {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }

@keyframes fill {
  0% {
    fill: transparent; }
  100% {
    fill: #EF4E31; } }
  @media (max-width: 767px) {
    body.home .main #intro {
      margin-top: 1em; } }
  @media (min-width: 768px) {
    body.home .main #intro {
      text-align: left;
      width: 50vw; } }
  @media (max-width: 767px) {
    body.home .main #intro .textWrap {
      width: 220px;
      margin: auto;
      margin-bottom: .5em; } }
  @media (min-width: 768px) {
    body.home .main #intro .textWrap {
      margin-left: -8vw;
      margin-top: 1vw; }
      body.home .main #intro .textWrap h1 {
        line-height: 11.85vw;
        padding-top: 0.8vw; }
      body.home .main #intro .textWrap h2 {
        line-height: 6.5vw;
        padding-top: 0.5vw; }
      body.home .main #intro .textWrap:first-of-type {
        width: 52vw;
        padding: 1.2vw 0 0.1vw 1.2vw; }
      body.home .main #intro .textWrap:nth-of-type(2) {
        width: 52vw;
        padding: 0.8vw 0 0.1vw 1.2vw; } }
  body.home .main #intro .textWrap h1,
  body.home .main #intro .textWrap h2 {
    color: #171d22;
    font-weight: bold;
    text-transform: uppercase; }
  body.home .main #intro p {
    padding: 0; }
    @media (min-width: 768px) {
      body.home .main #intro p {
        line-height: 2.5vw;
        font-size: 2vw; } }

@media (max-width: 767px) {
  body.home .content .img-container svg:first-of-type {
    display: none; }
  body.home .content .img-container svg:nth-of-type(2) {
    margin: auto;
    width: 75vw;
    display: block; } }

@media (min-width: 768px) {
  body.home .content .img-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body.home .content .img-container svg {
      padding: 7vw 7vw 0; } }

@media (min-width: 768px) {
  body.home .content .text-container {
    margin-top: -5vw;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    body.home .content .text-container p {
      line-height: 2.5vw;
      font-size: 2vw; } }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body.about #intro {
  width: 80vw;
  margin: 10vw auto 0; }
  @media (max-width: 767px) {
    body.about #intro .head-wrap {
      display: block !important; }
      body.about #intro .head-wrap svg {
        display: block;
        margin: auto; } }
  body.about #intro .textWrap {
    background-color: #171d22;
    width: 39vw;
    margin-left: 2vw; }
    @media (max-width: 767px) {
      body.about #intro .textWrap {
        width: 9.7em;
        margin: 20px auto; } }
    body.about #intro .textWrap h1 {
      color: #F5F5F5;
      padding-top: 1vw;
      text-align: center; }
      @media (max-width: 767px) {
        body.about #intro .textWrap h1 {
          font-size: 3.6em; } }

body.about .resume {
  margin: 2vw; }
  body.about .resume a {
    padding: 0 !important; }
  body.about .resume .triangle {
    margin: 1vw 2vw; }

body.about .links a, body.about .resume a {
  padding: 2vw; }
  body.about .links a svg, body.about .resume a svg {
    width: 4vw;
    fill: #171d22; }
    @media (max-width: 767px) {
      body.about .links a svg, body.about .resume a svg {
        width: 35px; } }
  body.about .links a:hover svg, body.about .resume a:hover svg {
    fill: #EF4E31; }

body.about .images-grid {
  margin-top: 5vw; }
  body.about .images-grid div,
  body.about .images-grid div > figure {
    width: calc(100vw - 1.5em);
    height: calc(100vw - 1.5em); }
    @media (min-width: 768px) {
      body.about .images-grid div,
      body.about .images-grid div > figure {
        width: calc(50vw - 2em);
        height: calc(50vw - 2em); } }
  body.about .images-grid .ali-vr {
    background: url("../../images/about/ali-vr.jpg") center center no-repeat;
    background-size: cover; }
  body.about .images-grid .ali-minka {
    background: url("../../images/about/ali-minka.jpg") center center no-repeat;
    background-size: cover; }
  body.about .images-grid div {
    background: #171d22 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42053/noise.gif) center center no-repeat;
    background-size: cover; }
    body.about .images-grid div figure h2 {
      color: rgba(255, 255, 255, 0.8); }
      @media (max-width: 767px) {
        body.about .images-grid div figure h2 {
          font-size: 11vw;
          text-align: center; } }
    body.about .images-grid div figure h2 {
      padding: 10px 0 0 0; }
      @media (min-width: 768px) {
        body.about .images-grid div figure h2 {
          padding: 2vw 0 0 1vw; } }
    body.about .images-grid div figure p {
      color: rgba(255, 255, 255, 0.8);
      position: relative;
      font-size: 3.5vw;
      padding: 0 10vw 0 20vw;
      margin: 3vw 1vw 1vw; }
      @media (min-width: 768px) {
        body.about .images-grid div figure p {
          font-size: 1.5vw;
          padding: 0 1vw 0 8vw;
          margin: 3vw 1vw 1vw; } }
      body.about .images-grid div figure p span {
        position: absolute;
        left: 0;
        top: 0; }
        @media (max-width: 767px) {
          body.about .images-grid div figure p span {
            left: 5px; } }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body.projects {
  min-height: 100vh; }
  body.projects #intro {
    width: 80vw;
    margin: 10vw auto 0; }
    @media (max-width: 767px) {
      body.projects #intro .head-wrap {
        display: block !important; }
        body.projects #intro .head-wrap svg {
          display: block;
          margin: auto; } }
    body.projects #intro .textWrap {
      background-color: #171d22;
      width: 57vw;
      margin-left: 2vw; }
      @media (max-width: 767px) {
        body.projects #intro .textWrap {
          width: 10.7em;
          margin: 20px auto; } }
      body.projects #intro .textWrap h1 {
        color: #F5F5F5;
        padding-top: 1vw; }
        @media (max-width: 767px) {
          body.projects #intro .textWrap h1 {
            font-size: 3em; } }
  body.projects .projects-wrap {
    margin: 10vw auto 0;
    width: 100vw;
    overflow-y: auto; }
    @media (min-width: 768px) {
      body.projects .projects-wrap {
        max-width: 1080px; } }
    @media (max-width: 767px) {
      body.projects .projects-wrap {
        background-color: #fff; } }
    @media (max-width: 767px) {
      body.projects .projects-wrap > div {
        margin-bottom: 1.5em; } }
    body.projects .projects-wrap a {
      width: calc(100vw - 3em);
      height: calc(100vw - 3em);
      display: block;
      position: relative; }
      @media (min-width: 768px) {
        body.projects .projects-wrap a {
          width: calc(50vw - 1.5rem);
          height: calc(50vw - 1.5rem);
          max-width: calc(564px - 1.5rem);
          max-height: calc(564px - 1.5rem);
          overflow: hidden; } }
      body.projects .projects-wrap a .project {
        background-size: cover !important;
        width: 100%;
        height: 100%; }
        body.projects .projects-wrap a .project.web-deutsch {
          background: url("../../images/projects/web-deutsch.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw {
          background: url("../../images/projects/web-vw.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw-carnet {
          background: url("../../images/projects/web-vw-carnet.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-cmab {
          background: url("../../images/projects/web-cmab.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-target-btc {
          background: url("../../images/projects/web-target-btc.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-target-btc-awards {
          background: url("../../images/projects/web-target-btc-awards.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-fosterfarms {
          background: url("../../images/projects/web-fosterfarms.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vw-sharks-awards {
          background: url("../../images/projects/web-vw-sharks-awards.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-vf-tbtt {
          background: url("../../images/projects/web-vf-tbtt.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-tacobell {
          background: url("../../images/projects/web-tacobell.jpg") center center no-repeat; }
        body.projects .projects-wrap a .project.web-anthem {
          background: url("../../images/projects/web-anthem.jpg") center center no-repeat; }
      body.projects .projects-wrap a .logo {
        width: 50vw;
        height: 50vw;
        transition: all .75s;
        pointer-events: none; }
        body.projects .projects-wrap a .logo.cmab-logo {
          background: url("../../images/logos/cmab-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.vw-logo {
          background: url("../../images/logos/vw-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.fosterfarms-logo {
          background: url("../../images/logos/fosterfarms-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.sevenup-logo {
          background: url("../../images/logos/sevenup-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.tacobell-logo {
          background: url("../../images/logos/tacobell-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.target-logo {
          background: url("../../images/logos/target-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.deutsch-logo {
          background: url("../../images/logos/deutsch-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.vanityfair-logo {
          background: url("../../images/logos/vanityfair-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.zillow-logo {
          background: url("../../images/logos/zillow-logo.svg") center center no-repeat; }
        body.projects .projects-wrap a .logo.anthem-logo {
          background: url("../../images/logos/anthem-logo.svg") center center no-repeat; }
        @media (min-width: 768px) {
          body.projects .projects-wrap a .logo {
            width: 40vw;
            height: 40vw;
            max-width: 400px;
            max-height: 400px;
            opacity: 0.75; } }
      body.projects .projects-wrap a:hover .logo {
        opacity: 0; }
      body.projects .projects-wrap a .hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all .25s; }
        @media (max-width: 767px) {
          body.projects .projects-wrap a .hover {
            width: calc(100vw - 3em);
            height: calc(100vw - 3em); } }
        body.projects .projects-wrap a .hover:hover {
          background-color: transparent; }
    body.projects .projects-wrap .project-overlay {
      height: 0;
      width: 100%;
      position: fixed;
      top: 100%;
      left: 0;
      background: #F5F5F5;
      z-index: 999999;
      padding: 80px 0;
      transition: all .5s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      body.projects .projects-wrap .project-overlay.open {
        top: 0;
        height: 100%;
        overflow-y: auto;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        transition: all .5s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        body.projects .projects-wrap .project-overlay.open .close {
          cursor: pointer;
          position: absolute;
          top: 1.5em;
          right: 1em;
          height: 50px;
          width: 50px; }
          body.projects .projects-wrap .project-overlay.open .close span {
            background-color: #515052;
            display: block;
            position: absolute;
            height: 2px;
            width: 100%; }
            body.projects .projects-wrap .project-overlay.open .close span:first-child {
              -webkit-transform: rotate(135deg);
                      transform: rotate(135deg);
              top: 12px; }
            body.projects .projects-wrap .project-overlay.open .close span:nth-child(2) {
              -webkit-transform: rotate(-310deg);
                      transform: rotate(-310deg);
              top: 12px; }
      body.projects .projects-wrap .project-overlay .textWrap {
        background-color: #EF4E31;
        margin: auto; }
        body.projects .projects-wrap .project-overlay .textWrap h2 {
          color: #fff;
          text-align: center;
          padding-top: 4px; }
          @media (min-width: 768px) {
            body.projects .projects-wrap .project-overlay .textWrap h2 {
              padding-top: 0.5vw; } }
          @media (max-width: 767px) {
            body.projects .projects-wrap .project-overlay .textWrap h2 {
              font-size: 3.2em; } }
      body.projects .projects-wrap .project-overlay section {
        height: 100%; }
      body.projects .projects-wrap .project-overlay ul {
        width: 65vw;
        margin: 10vw auto;
        height: calc(100% + 100px);
        overflow: visible; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay ul {
            width: 50vw;
            height: auto; } }
        body.projects .projects-wrap .project-overlay ul li {
          margin-left: 20vw; }
          @media (max-width: 767px) {
            body.projects .projects-wrap .project-overlay ul li {
              margin-top: 0; } }
          body.projects .projects-wrap .project-overlay ul li:before {
            position: absolute;
            margin: 0.4375rem 0 0 -1.125rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #EF4E31;
            content: ''; }
            @media (min-width: 768px) {
              body.projects .projects-wrap .project-overlay ul li:before {
                margin: 0.6vw 0 0 -2vw;
                width: 1vw;
                height: 1vw; } }
          @media (min-width: 768px) {
            body.projects .projects-wrap .project-overlay ul li {
              font-size: 2vw; } }
      body.projects .projects-wrap .project-overlay h2 {
        font-size: 7vw; }
      body.projects .projects-wrap .project-overlay a.to-website {
        margin: auto;
        width: auto;
        height: auto;
        max-width: none;
        overflow: visible; }
      body.projects .projects-wrap .project-overlay a.launch {
        width: 175px;
        height: auto;
        text-align: center;
        background: #fff;
        padding: 20px 0;
        margin: 50px auto; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay a.launch {
            font-size: 2vw;
            width: 15vw;
            padding: 1vw 0;
            margin: 5vw auto; } }
        body.projects .projects-wrap .project-overlay a.launch:hover {
          background: #EF4E31;
          color: #fff; }
      body.projects .projects-wrap .project-overlay.deutsch .textWrap {
        width: 17.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.deutsch .textWrap {
            width: 36.5vw; } }
      body.projects .projects-wrap .project-overlay.anthem .textWrap {
        width: 17em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.anthem .textWrap {
            width: 36vw; } }
      body.projects .projects-wrap .project-overlay.target .textWrap:first-of-type {
        width: 9.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.target .textWrap:first-of-type {
            width: 20vw; } }
      body.projects .projects-wrap .project-overlay.target .textWrap:nth-of-type(2) {
        width: 11.5em;
        margin-top: .25em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.target .textWrap:nth-of-type(2) {
            margin-top: .5vw;
            width: 25vw; } }
      body.projects .projects-wrap .project-overlay.vw .textWrap {
        width: 10.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.vw .textWrap {
            width: 22.5vw; } }
      body.projects .projects-wrap .project-overlay.cmab .textWrap {
        width: 12.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.cmab .textWrap {
            width: 40vw; } }
      body.projects .projects-wrap .project-overlay.fosterfarms .textWrap {
        width: 15.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.fosterfarms .textWrap {
            width: 49vw; } }
        @media (max-width: 767px) {
          body.projects .projects-wrap .project-overlay.fosterfarms .textWrap h2 {
            font-size: 2.1875rem; } }
      body.projects .projects-wrap .project-overlay.tacobell .textWrap {
        width: 8.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.tacobell .textWrap {
            width: 18vw; } }
      body.projects .projects-wrap .project-overlay.carnet .textWrap {
        width: 15.7em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.carnet .textWrap {
            width: 33vw; } }
      body.projects .projects-wrap .project-overlay.vf .textWrap {
        width: 14.2em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.vf .textWrap {
            width: 30vw; } }
        @media (max-width: 767px) {
          body.projects .projects-wrap .project-overlay.vf .textWrap h2 {
            font-size: 3em; } }
        body.projects .projects-wrap .project-overlay.vf .textWrap:nth-of-type(2) {
          margin-top: .25em; }
      body.projects .projects-wrap .project-overlay.vw-sharks .textWrap {
        width: 14.5em; }
        @media (min-width: 768px) {
          body.projects .projects-wrap .project-overlay.vw-sharks .textWrap {
            width: 31vw; } }
  body.projects .textWrap {
    background-color: #171d22;
    width: 86vw; }
    body.projects .textWrap.clients {
      margin: 10vw auto 5vw;
      padding-top: 1.5vw;
      text-align: center;
      line-height: 12vw;
      width: 80vw; }
      @media (max-width: 767px) {
        body.projects .textWrap.clients {
          width: 15.5em; } }
    @media (max-width: 767px) {
      body.projects .textWrap {
        width: 12.7em; } }
    body.projects .textWrap h1 {
      color: #F5F5F5;
      padding-top: 1vw;
      text-align: center; }
      @media (max-width: 767px) {
        body.projects .textWrap h1 {
          font-size: 2.9em; } }
  @media (max-width: 767px) {
    body.projects .client-wrap {
      display: block !important; } }
  body.projects .client-wrap .client {
    background-size: cover !important;
    width: calc(75vw - 3em);
    height: 50vw; }
    @media (max-width: 767px) {
      body.projects .client-wrap .client {
        display: block;
        margin: auto; } }
    @media (min-width: 768px) {
      body.projects .client-wrap .client {
        width: calc(33vw - 3em);
        height: calc(33vw - 3em); } }
    body.projects .client-wrap .client.zillow-logo {
      background: url("../../images/logos/zillow-logo.svg") center center no-repeat; }
    body.projects .client-wrap .client.sevenup-logo {
      background: url("../../images/logos/sevenup-logo.svg") center center no-repeat; }
    body.projects .client-wrap .client.answerfinancial-logo {
      background: url("../../images/logos/answerfinancial-logo.svg") center center no-repeat; }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

@media (min-width: 1024px) {
  body.contact {
    overflow: visible; } }

body.contact #intro {
  width: 80vw;
  margin: 10vw auto 0; }
  @media (max-width: 767px) {
    body.contact #intro .head-wrap {
      display: block; }
      body.contact #intro .head-wrap svg {
        display: block;
        margin: auto; } }
  body.contact #intro .textWrap {
    background-color: #171d22;
    width: 50vw; }
    @media (max-width: 767px) {
      body.contact #intro .textWrap {
        width: 12.7em;
        margin: 20px auto; } }
    body.contact #intro .textWrap h1 {
      color: #F5F5F5;
      padding-top: 1vw;
      text-align: center; }
      @media (max-width: 767px) {
        body.contact #intro .textWrap h1 {
          font-size: 3.6em; } }
  body.contact #intro .links a {
    padding: 2vw; }
    body.contact #intro .links a svg {
      width: 4vw;
      fill: #171d22; }
      @media (max-width: 767px) {
        body.contact #intro .links a svg {
          width: 35px; } }
    body.contact #intro .links a:hover svg {
      fill: #EF4E31; }

body.contact .contact-me {
  margin: 40px 0 20px; }
  @media (max-width: 767px) {
    body.contact .contact-me {
      display: block; } }
  body.contact .contact-me p {
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 768px) {
      body.contact .contact-me p {
        line-height: 2.5vw;
        font-size: 2vw; } }

@media (min-width: 768px) {
  body.contact div#map_canvas {
    height: 75vw; } }

@media (min-width: 1024px) {
  body.contact div#map_canvas {
    height: 50vw; } }

body.contact div#map_canvas .gm-style div:nth-child(2),
body.contact div#map_canvas .gm-style div:nth-child(6) {
  z-index: -1 !important; }

body.contact div#map_canvas .gm-style .gmnoprint {
  z-index: -1 !important; }

.flex-both-align, body.about #intro .head-wrap, body.about .links, body.about .resume, body.projects #intro .head-wrap, body.projects .client-wrap, body.contact #intro .head-wrap, body.contact #intro .links, body.contact .contact-me, body.not-found #intro .head-wrap, body.not-found .home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-row, body.about .images-grid, body.projects .projects-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.align-both, body.projects .projects-wrap a .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.divider {
  display: block;
  margin: 20px auto 0;
  width: calc(100% - 20px);
  height: 50px;
  background: #EF4E31;
  border-bottom: 2px solid #F5F5F5;
  border-top: 2px solid #F5F5F5;
  box-shadow: 0 0 0 10px #EF4E31; }

@media (max-width: 767px) {
  .mobile-hide {
    display: none; } }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.5vw 0 1.5vw 1.5vw;
  border-color: transparent transparent transparent #171d22; }

body.not-found {
  height: calc(100vh - 3em);
  overflow: hidden; }
  body.not-found .main {
    overflow: visible; }
  body.not-found #intro {
    width: 80vw;
    margin: 5vw auto 0; }
    body.not-found #intro .head-wrap {
      position: relative; }
      @media (max-width: 767px) {
        body.not-found #intro .head-wrap {
          display: block !important; }
          body.not-found #intro .head-wrap svg {
            display: block;
            margin: auto; } }
    body.not-found #intro .textWrap {
      background-color: #171d22;
      width: 33vw;
      margin-left: 2vw;
      position: relative; }
      @media (max-width: 767px) {
        body.not-found #intro .textWrap {
          margin: 10vw auto .5vw; } }
      body.not-found #intro .textWrap h1 {
        color: #F5F5F5;
        padding-top: 1vw;
        text-align: center;
        height: 12vw; }
        @media (max-width: 767px) {
          body.not-found #intro .textWrap h1 {
            padding-top: .5vw; } }
        body.not-found #intro .textWrap h1 span {
          -webkit-animation: bounce 2.5s infinite forwards;
                  animation: bounce 2.5s infinite forwards;
          position: absolute;
          bottom: -1.2vw; }
          body.not-found #intro .textWrap h1 span:first-of-type {
            left: 8vw; }
          body.not-found #intro .textWrap h1 span:nth-of-type(2) {
            left: 16vw;
            -webkit-animation-delay: .5s;
                    animation-delay: .5s; }
          body.not-found #intro .textWrap h1 span:nth-of-type(3) {
            left: 24vw;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s; }
          @media (max-width: 767px) {
            body.not-found #intro .textWrap h1 span {
              bottom: .5vw; } }

@-webkit-keyframes bounce {
  8% {
    -webkit-transform: translate3d(-50%, -2vw, 0) scaleY(0.2);
            transform: translate3d(-50%, -2vw, 0) scaleY(0.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  25% {
    -webkit-transform: translate3d(-50%, -3.5vw, 0) scaleY(1.4);
            transform: translate3d(-50%, -3.5vw, 0) scaleY(1.4); }
  40% {
    -webkit-transform: translate3d(-50%, 1.5vw, 0) scaleY(0.5);
            transform: translate3d(-50%, 1.5vw, 0) scaleY(0.5);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  50% {
    -webkit-transform: translate3d(-50%, 1vw, 0) scaleY(1.2);
            transform: translate3d(-50%, 1vw, 0) scaleY(1.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  60% {
    -webkit-transform: translate3d(-50%, 1vw, 0) scaleY(1);
            transform: translate3d(-50%, 1vw, 0) scaleY(1);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 1vw, 0);
            transform: translate3d(-50%, 1vw, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 3.5vw, 0);
            transform: translate3d(-50%, 3.5vw, 0); } }

@keyframes bounce {
  8% {
    -webkit-transform: translate3d(-50%, -2vw, 0) scaleY(0.2);
            transform: translate3d(-50%, -2vw, 0) scaleY(0.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  25% {
    -webkit-transform: translate3d(-50%, -3.5vw, 0) scaleY(1.4);
            transform: translate3d(-50%, -3.5vw, 0) scaleY(1.4); }
  40% {
    -webkit-transform: translate3d(-50%, 1.5vw, 0) scaleY(0.5);
            transform: translate3d(-50%, 1.5vw, 0) scaleY(0.5);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  50% {
    -webkit-transform: translate3d(-50%, 1vw, 0) scaleY(1.2);
            transform: translate3d(-50%, 1vw, 0) scaleY(1.2);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  60% {
    -webkit-transform: translate3d(-50%, 1vw, 0) scaleY(1);
            transform: translate3d(-50%, 1vw, 0) scaleY(1);
    -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0; }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 1vw, 0);
            transform: translate3d(-50%, 1vw, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 3.5vw, 0);
            transform: translate3d(-50%, 3.5vw, 0); } }
    body.not-found #intro h2 {
      position: absolute;
      text-transform: none;
      top: 0;
      right: 9.6vw;
      font-size: 5.8vw;
      z-index: -1; }
      @media (max-width: 767px) {
        body.not-found #intro h2 {
          position: relative;
          right: 0;
          text-align: center; } }
  body.not-found .home {
    width: 27vw;
    text-align: center;
    margin: 5vw auto 0; }
    @media (max-width: 767px) {
      body.not-found .home {
        margin: 100px auto 0;
        width: 100%; } }
    body.not-found .home svg {
      width: 10vw;
      fill: #EF4E31;
      pointer-events: none; }
    body.not-found .home a {
      cursor: pointer; }
      body.not-found .home a:hover {
        color: #171d22; }
        body.not-found .home a:hover svg {
          fill: #171d22; }
