@import "../partials/typography";
@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/snippets";

body.home {
  .main {
    text-align: center;
    //border-bottom: 1.5rem solid $white;

    @include mobile {
      padding: 2em 0;
    }

    @include tablet {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bg-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;

      @include mobile {
        display: none !important;
      }
    }
    
    img.sequence {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      z-index: -2;

      @include mobile {
        display: none;
      }
    }

    #logoAnchor {
      width: 40vw;
      display: block;
      margin: auto;

      .logo {
        fill: $orange;
        animation-name: fillUp;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
      }

      @-webkit-keyframes fillUp {
        0% { fill: transparent; }
        100% { fill: $orange; }
      }

      @keyframes fill {
        0% { fill: transparent; }
        100% { fill: $orange; }
      }
    }

    #intro {

      @include mobile {
        margin-top: 1em;
      }

      @include tablet {
        text-align: left;
        width: 50vw;
      }


      .textWrap {

        @include mobile {
          width: 220px;
          margin: auto;
          margin-bottom: .5em;
        }

        @include tablet {
          margin-left: -8vw;
          margin-top: 1vw;

          h1 {
            line-height: 11.85vw;
            padding-top: 0.8vw;
          }

          h2 {
            line-height: 6.5vw;
            padding-top: 0.5vw;
          }

          &:first-of-type {
            width: 52vw;
            padding: 1.2vw 0 0.1vw 1.2vw;
          }

          &:nth-of-type(2) {
            width: 52vw;
            padding: 0.8vw 0 0.1vw 1.2vw;
          }
        }

        h1,
        h2 {
          color: $off-black;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      p {

        padding: 0;

        @include tablet {
          line-height: 2.5vw;
          font-size: 2vw;
        }
      }
    }
  }

  .content {

    .img-container {

      @include mobile {

        svg:first-of-type {
          display: none;
        }

        svg:nth-of-type(2) {
          margin:auto;
          width: 75vw;
          display: block;
        }
      }

      @include tablet {
        display:flex;
        flex-flow: row;
        justify-content: space-between;

        svg {
          padding: 7vw 7vw 0;
        }
      }

    }

    .text-container {

      @include tablet {
        margin-top: -5vw;
        display:flex;

        p {
          line-height: 2.5vw;
          font-size: 2vw;
        }
      }
    }

  }
}


