@import "../partials/typography";
@import "../partials/variables";
@import "../partials/snippets";
@import "../partials/mixins";

body.not-found {
    height: calc(100vh - 3em);
    overflow: hidden;

    .main {
        overflow: visible;
    }

    #intro {
        width: 80vw;
        margin: 5vw auto 0;

        .head-wrap {
            @extend .flex-both-align;

            @include mobile {
                display: block !important;

                svg {
                    display: block;
                    margin: auto;
                }
            }
        }

        .textWrap {
            background-color: $off-black;
            width: 33vw;
            margin-left: 2vw;
            position: relative;

            @include mobile {
                width: 9.7em;
                margin: 20px auto;
            }

            h1 {
                color: $white;
                padding-top: 1vw;
                text-align: center;
                height: 12vw;
                transform: translate(6vw, -3vw);

                @include mobile {
                    padding-top: 0.15em;
                    font-size: 3.6em;
                    transform: translate(36px, -35px);
                }

                span {
                    animation: bounce 2.5s infinite forwards;
                    position: absolute;

                    &:first-of-type {
                        left: 0;
                    }

                    &:nth-of-type(2) {
                        left: 10vw;
                        animation-delay: .5s;
                    }

                    &:nth-of-type(3) {
                        left: 20vw;
                        animation-delay: 1s;
                    }
                }
            }

            @keyframes bounce {
                8% {
                    transform:translate3d(-50%,-45px,0) scaleY(0.2);
                    transform-origin:left bottom 0;
                }
                25% {
                    transform:translate3d(-50%,-110px,0) scaleY(1.4);
                }
                40% {
                    transform:translate3d(-50%,30px,0) scaleY(0.5);
                    transform-origin:left bottom 0;
                }
                50% {
                    transform:translate3d(-50%,30px,0) scaleY(1.2);
                    transform-origin:left bottom 0;
                }
                60% {
                    transform:translate3d(-50%,30px,0) scaleY(1);
                    transform-origin:left bottom 0;
                }
                80% {
                    opacity:1;
                    transform:translate3d(-50%,30px,0);
                }
                100% {
                    opacity:0;
                    transform:translate3d(-50%,100px,0);
                }
            }
        }
    }

    .home {
        width: 27vw;
        display: block;
        text-align: center;
        margin: 5vw auto 0;

        @include mobile {
            margin: 100px auto 0;
            width: 100%;
        }

        a {
            &:hover {
                color: $off-black;
            }
        }
    }
}