@import "../partials/typography";
@import "../partials/variables";
@import "../partials/snippets";
@import "../partials/mixins";

$transitionBounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);

body.projects {

  min-height: 100vh;

  #intro {
    width: 80vw;
    margin: 10vw auto 0;
    .head-wrap {
      @extend .flex-both-align;

      @include mobile {
        display: block !important;

        svg {
          display: block;
          margin: auto;
        }
      }
    }

    .textWrap {
      margin-left: 2vw;

      @include mobile {
        width: 10.7em;
        margin: 20px auto;
      }

      h1 {
        color: $bg-color;
        background-color: $off-black;
        display: table;
        line-height: 1;
        margin: 8px 0;
        padding: 10px 10px 0;
        white-space: nowrap;

        @include mobile {
          font-size: 3em;
        }
      }
    }
  }

  .projects-wrap {
    margin: 10vw auto 0;
    width: 100vw;
    overflow-y: auto;
    @extend .flex-row;

    @include tablet {
      max-width: 1080px;
    }

    @include mobile {
      background-color: $white;
    }

    > div {
      @include mobile {
        margin-bottom: 1.5em;
      }
    }

    a {
      width: calc(100vw - 3em);
      height: calc(100vw - 3em);
      display: block;
      position: relative;

      @include tablet {
        width: calc(50vw - 1.5rem);
        height: calc(50vw - 1.5rem);
        max-width: calc(564px - 1.5rem);
        max-height: calc(564px - 1.5rem);
        overflow: hidden;

      }

      .project {
        background-size: cover !important;
        width: 100%;
        height: 100%;

        $project-tiles-names: web-deutsch web-vw web-vw-carnet web-cmab web-target-btc web-target-btc-awards web-fosterfarms web-vw-sharks-awards web-vf-tbtt web-tacobell web-anthem web-carvana;
        @each $project-tile-name in $project-tiles-names {

          &.#{$project-tile-name} {
            background: url("#{$root-asset-path}projects/#{$project-tile-name}.jpg") center center no-repeat;
          }
        }
      }

      .logo {
        width: 50vw;
        height: 50vw;
        transition: all .75s;
        pointer-events: none;
        @extend .align-both;

        $project-tiles-names: cmab-logo vw-logo fosterfarms-logo sevenup-logo tacobell-logo target-logo deutsch-logo vanityfair-logo zillow-logo anthem-logo carvana-logo;
        @each $project-tile-name in $project-tiles-names {

          &.#{$project-tile-name} {
            background: url("#{$root-asset-path}logos/#{$project-tile-name}.svg") center center no-repeat;
          }
        }

        @include tablet {
          width: 40vw;
          height: 40vw;
          max-width: 400px;
          max-height: 400px;
          opacity: 0.75;
        }
      }

      &:hover {

        .logo {
          opacity: 0;
        }
      }

      .hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white-80;
        transition: all .25s;

        @include mobile {
          width: calc(100vw - 3em);
          height: calc(100vw - 3em);
        }

        &:hover {
          background-color: transparent;
        }
      }
    }

    .project-overlay {
      height: 0;
      width: 100%;
      position: fixed;
      top: 100%;
      left: 0;
      background: $bg-color;
      z-index: 999999;
      padding: 80px 0;
      transition: all .5s;
      transition-timing-function: $transitionBounce;

      &.open {
        top: 0;
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transform: translateY(0);
        transition: all .5s;
        transition-timing-function: $transitionBounce;

        .close {
          cursor: pointer;
          position: absolute;
          top: 1.5em;
          right: 1em;
          height: 50px;
          width: 50px;

          &:hover {
            span {
              background-color: lighten($slate-gray, 30%);
            }
          }

          span {
            background-color: $slate-gray;
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;

            &:first-child{
              transform: rotate(135deg);
              top: 12px;
            }


            &:nth-child(2) {
              transform: rotate(-315deg);
              top: 12px;
            }
          }
        }
      }

      .textWrap {
        margin: auto;

        h2 {
          color: $white;
          text-align: center;
          background-color: $orange;
          display: table;
          line-height: 1;
          margin: 8px 0;
          padding: 10px 10px 0;
          white-space: nowrap;
          position: relative;
          left: 50%;
          transform: translateX(-50%);

          @include tablet {
            padding-top: 0.5vw;
          }

          @include mobile {
            font-size: 3.2em;
          }
        }
      }

      section {
        height: 100%;
      }

      ul {
        width: 65vw;
        margin: 10vw auto;
        overflow: auto;
        padding-bottom: 80px;

        @include tablet {
          width: 50vw;
          height: auto;
        }

        li {
          margin-left: 20vw;

          @include mobile {
            margin-top: 0;
          }

          &:before {
            position: absolute;
            margin: 0.4375rem 0 0 -1.125rem;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $orange;
            content: '';

            @include tablet {
              margin: 0.6vw 0 0 -2vw;
              width: 1vw;
              height: 1vw;
            }
          }

          @include tablet {
            font-size: 2vw;
          }
        }
      }

      h2 {
        font-size: 7vw;
      }

      a.to-website {
        margin: auto;
        width: auto;
        height: auto;
        max-width: none;
        overflow: visible;
      }

      a.launch {
        width: 175px;
        height: auto;
        text-align: center;
        background: $white;
        padding: 20px 0;
        margin: 50px auto;

        @include tablet {
          font-size: 2vw;
          width: 15vw;
          padding: 1vw 0;
          margin: 5vw auto;
        }

        &:hover {
          background: $orange;
          color: $white;
        }
      }
    }
  }

  .textWrap {

    background-color: transparent !important;

    &.clients {


      h1 {
        color: $bg-color;
        background-color: $off-black;
        display: table;
        line-height: 1;
        margin: 100px 0;
        padding: 10px 10px 0;
        white-space: nowrap;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile {
        padding: 5px 10px;
      }
    }


    h1 {
      color: $bg-color;
      padding-top: 1vw;
      text-align: center;

      @include mobile {
        font-size: 2.9em;
      }
    }
  }

  .client-wrap {
    @extend .flex-both-align;

    @include mobile {
      display: block !important;
    }

    .client {
      background-size: cover !important;
      width: calc(75vw - 3em);
      height: 50vw;

      @include mobile {
        display: block;
        margin: auto;
      }

      @include tablet {
        width: calc(33vw - 3em);
        height: calc(33vw - 3em);
      }

      $project-tiles-names: zillow-logo sevenup-logo answerfinancial-logo;
      @each $project-tile-name in $project-tiles-names {

        &.#{$project-tile-name} {
          background: url("#{$root-asset-path}logos/#{$project-tile-name}.svg") center center no-repeat;
        }
      }
    }
  }

  .devices {
    position: relative;
    margin-top: 10%;

    .desktop {
      width: 100%;

      img {
        width: 70%;
        display: block;
        margin: auto;
      }
    }

    .mobile {

      img {
        position: absolute;
      }

      img:first-child {
        width: 60%;
        bottom: 0;
        left: -100%;
      }

      img:nth-child(2) {
        width: 20%;
        bottom: 0;
        right: -100%;
      }
    }
  }

  &.open {
    .devices .mobile {

      img:first-child {
        animation: slideInLeft .5s forwards .5s;
      }

      img:nth-child(2) {
        animation: slideInRight .5s forwards .75s;
      }
    }
  }

  @keyframes slideInLeft {
    from {
      left: -100%
    }

    to {
      left: 0;
    }
  }

  @keyframes slideInRight {
    from {
      right: -100%;
    }

    to {
      right: 5%;
    }
  }

}