@import "typography";
@import "variables";
@import "snippets";

body {
  background: $bg-color;
  border: 1.5rem solid $white;
}

h1,
h2 {
  color: $off-black;
  font-family: $header-font;
  text-transform: uppercase;
  font-weight: bold;
}

h3,
h4 {
  font-family: $script-font;
}

h1 {
  @include font-size(42px);

  @include tablet {
    font-size: 15vw;
  }
}

h2 {
  @include font-size(30px);

  @include tablet {
    font-size: 7.4vw;
  }
}

h3 {
  @include font-size(34px);

  @include tablet {
    font-size: 6vw;
  }
}

h4 {
  @include font-size(28px);

  @include tablet {
    font-size: 4vw;
  }
}

p,
li {
  color: $slate-gray;
  font-family: $body-font;
  margin: 30px 30px 10px;
  @include font-size(18px);

  @include tablet {
    @include font-size(20px);
  }
}


a {
  font-family: $body-font;
  text-decoration: none;
  color: $orange
}

input:focus,
a:focus,
button:focus {
  outline: none;
  border: none;
}

.textWrap {
  background-color: $white-80;
}

body:not(.home) {
  #logoAnchor {

    svg {
      width: 25vw;

      .logo {
        fill: $orange;
        animation-name: fillUp;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
      }

      @-webkit-keyframes fillUp {
        0% { fill: transparent; }
        100% { fill: $orange; }
      }

      @keyframes fill {
        0% { fill: transparent; }
        100% { fill: $orange; }
      }
    }

  }
}

.divider.map {
  border-bottom-width: 0;
}

div#map_canvas {
  width: auto;
  height: 250px;

  @include tablet {
    height: 20vw;
  }

  .gm-style {

    div:nth-child(2),
    div:nth-child(6) {
      z-index: -1 !important;
    }

    .gmnoprint {
      z-index: -1 !important;
    }
  }
}

