@import "typography";
@import "variables";
@import "snippets";

body {
  background: $bg-color;
  border: 1.5rem solid $white;
}

h1,
h2 {
  color: $off-black;
  font-family: $header-font;
  text-transform: uppercase;
  font-weight: bold;
}

h3,
h4 {
  font-family: $script-font;
}

h1 {
  @include font-size(42px);

  @include tablet {
    font-size: 9vw;
  }
}

h2 {
  @include font-size(30px);

  @include tablet {
    font-size: 4vw;
  }
}

h3 {
  @include font-size(34px);

  @include tablet {
    font-size: 6vw;
  }
}

h4 {
  @include font-size(28px);

  @include tablet {
    font-size: 4vw;
  }
}

p {
  color: $slate-gray;
  font-family: $body-font;
  margin: 30px 30px 10px;
  @include font-size(16px);

  @include tablet {
    @include font-size(20px);
  }
}

