@import "typography";
@import "variables";
@import "snippets";

body {
  background: $bg-color;
  border: 1.5rem solid $white;
}

h1,
h2 {
  color: $off-black;
  font-family: $header-font;
}

h3,
h4 {
  font-family: $script-font;
}

h1 {
  @include font-size(42px);

  @include tablet {
    font-size: 9vw;
  }
}

h2 {
  @include font-size(30px);

  @include tablet {
    font-size: 6vw;
  }
}

h3 {
  @include font-size(34px);

  @include tablet {
    font-size: 6vw;
  }
}

h4 {
  @include font-size(28px);

  @include tablet {
    font-size: 4vw;
  }
}

p {
  color: $slate-gray;
  font-family: $body-font;
  margin: 30px 30px 10px;
  @include font-size(16px);

  @include tablet {
    @include font-size(20px);
  }
}

.main {
  height: calc(100vh - 3rem);
  text-align: center;
  border-bottom: 1.5rem solid $white;
  @extend .flex-both-align;

  .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

  #logoAnchor {
    width: 40vw;

    .logo {
      fill: $orange;
      animation-name: fillUp;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
    }

    @-webkit-keyframes fillUp {
      0% { fill: transparent; }
      100% { fill: $orange; }
    }

    @keyframes fill {
      0% { fill: transparent; }
      100% { fill: $orange; }
    }
  }

  #intro {
    text-align: left;
    width: 50vw;


    .textWrap {
      margin-left: -8vw;
      background: rgba(255, 255, 255, .8);
      margin-top: 1vw;

      h1,
      h2 {
        color: $off-black;
        font-weight: bold;
        text-transform: uppercase;
      }

      &:first-of-type {
        width: 52vw;
        padding: 1.2vw 0 0.1vw 1.2vw;
      }

      &:nth-of-type(2) {
        width: 40vw;
        padding: 0.7vw 0 0 1.3vw;
      }
    }
    
    p {
      line-height: 2vw;
      font-size: 1.4vw;
    }
  }
}