@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);

// Variables
$header-font: 'Syncopate', sans-serif;
$script-font: 'Pacifico', cursive;
$body-font:   'Open Sans', sans-serif;
