
// Colors
$white:            #fff;
$white-80:         rgba(255, 255, 255, .8);
$black:            #000;
$bg-color:         #F5F5F5;
$off-black:        #171d22;
$orange:           #EF4E31;
$blue-gray:        #3D5A6C;
$blue-gray-light:  #546A76;
$slate-gray:       #515052;



